<div class="row my-4">
  <div class="col-md-12">
    <h3>Edit Post</h3>
    <hr />
    <form [formGroup]="postForm" (ngSubmit)="onEditPost()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" />
        <div
          class="alert alert-danger"
          *ngIf="
            postForm?.get('title')?.touched && !postForm?.get('title')?.valid
          "
        >
          <div *ngIf="!postForm.controls['title'].valid">Title is required</div>
          <div *ngIf="postForm.get('title')?.errors?.['minlength']">
            Title is not long enough (minimum length is 6)
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div *ngIf="showDescriptionErrors()" class="alert alert-danger">
          {{ showDescriptionErrors() }}
        </div>
      </div>
      <div class="my-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!postForm.valid"
        >
          Edit Post
        </button>
      </div>
    </form>
  </div>
</div>
